<html>
<head>
<title>Failed to Add Avatar - {% print site_name, %}</title>
</head>
<body>
<center><h1>Welcome to {% print site_name, %}!</h1></center>
<hr/>
{%
if account is None:
    print '<a href="/signup">Sign Up</a><br/>'
    print '<a href="/signin">Sign In</a><br/>'
else:
    print '<a href="/user/main">', account.get('username'), '</a><br/>'
    print '<a href="/signout">Sign Out</a><br/>'
%}
<br/><br/>
<p><h2>Failed to add avatar: {% print error_message, %}</h2></p>
<a href='./addavatar'>Try Again</a>
</form>
</body>
</html>
