<!DOCTYPE html>
<html>
<head>
<title>Set Avatar - {% print site_name, %}</title>
</head>
<body>
<center><h1>Welcome to {% print site_name, %}!</h1></center>
<hr/>
{%
print '<a href="/user/main">', account.get('username'), '</a><br/>'
print '<a href="/signout">Sign Out</a><br/>'
%}
<br/><br/>
<h3>Select avatar for email address {% print email.get('email'), %}</h3>
<br/>
<form action="./setavatar_action" method="post">
<input type="hidden" name="emid" value="{% print email.get('emid'), %}" />
{%
checked = False
email_aid = email.get('avatar_id')

for avatar in avatars:
    aid = avatar.get('aid')
    if aid == email_aid:
        continue

    print '<input type="radio" name="aid" value="%d"' % aid,
    if not checked:
        print 'checked="checked"',
        checked = True
    print '/>',
        
    print '<img src="./avatar?id=%d" width="64px" /><br/><br/>' % aid

if email_aid:
    print '<input type="radio" name="aid" value="0"',

    if not checked:
      print 'checked="checked"',

    print '/>Remove avatar from this email<br/><br/>'
%}
<input type="submit" value="Set Avatar" />
</form>
</body>
</html>
