<html>
<head>
<title>Set Avatar - {% print site_name, %}</title>
</head>
<body>
<center><h1>Welcome to {% print site_name, %}!</h1></center>
<hr/>
{%
print '<a href="/user/main">', account.get('username'), '</a><br/>'
print '<a href="/signout">Sign Out</a><br/>'
%}
<br/><br/>
<h3>Select avatar for email address "{% print email.get('email'), %}"</h3>
<br/>
<form action="./setavatar_action" method="post">
<input type="hidden" name="emid" value="{% print email.get('emid'), %}" />
{%
email_aid = email.get('avatar_id')
if email_aid:
    print '<input type="radio" name="aid" value="-1" />Remove Avatar<br/><br/>'

for avatar in avatars:
    aid = avatar.get('aid')
    if aid == email_aid:
        continue

    print '<input type="radio" name="aid" value="%d" />' % aid
    print '<image src="./avatar?id=%d" width="64px"/><br/><br/>' % aid
%}
<input type="submit" value="Set Avatar" />
</form>
</body>
</html>
