<html>
<head>
<title>{% print account.get('username'), %} - {% print site_name, %}</title>
</head>
<body>
<center><h1>Welcome to {% print site_name, %}!</h1></center>
<hr/>
{%
print account.get('username'), '<br/>'
print '<a href="/signout">Sign Out</a><br/>'
%}
<br/><br/>
<h3>Emails</h3>
{%
for email in emails:
    print email.get('email'),
    print '<button type="button" onclick="location.href=\'/user/setavatar?emid=%d\'">' % email.get('emid'),
    print 'Set Avatar</button>'
    print '<br/>'
%}
<button type="button" onclick="location.href='./addemail'">Add Email</button><br/>
</br>
<h3>Avatars</h3>
{%
for avatar in avatars:
    print '<image src="./avatar?id=%d">' % avatar.get('aid'), '&nbsp;&nbsp;'
%}
<button type="button" onclick="location.href='./addavatar'">Add Avatar</button><br/>
</body>
</html>
