<!DOCTYPE html>
<html>
<head>
<title>{% print account.get('username'), %} - {% print site_name, %}</title>
</head>
<body>
<center><h1>Welcome to {% print site_name, %}!</h1></center>
<hr/>
{%
print account.get('username'), '<br/>'
print '<a href="/signout">Sign Out</a><br/>'
%}
<br/><br/>
<h3>Emails</h3>
<ul>
{%
for email in emails:
    print '<li style="margin-bottom:1em">',

    print email.get('email'),
    print '<button type="button" onclick="location.href=\'/user/setavatar?emid=%d\'">' % email.get('emid'),
    print 'Set Avatar</button>',

    aid = email.get('avatar_id')
    if aid is not None:
        print '<img src="./avatar?id=%d" width="40px" style="vertical-align:middle;" />' % aid,

    print '<br/></li>'
%}
</ul>
<br/>
<button type="button" onclick="location.href='./addemail'">Add Email</button>
<br/><br/>
<h3>Avatars</h3>
{%
for avatar in avatars:
    print '<img src="./avatar?id=%d" width="64px"/>' % avatar.get('aid'), '&nbsp;&nbsp;'
%}
<br/><br/>
<button type="button" onclick="location.href='./addavatar'">Add Avatar</button><br/>
</body>
</html>
